$basic-100: #fff;
$basic-200: #f7f7f7;
$basic-300: #c4c4c4;
$basic-400: #4d4d4d;
$basic-500: #3f3f3f;
$basic-600: #333;
$basic-700: #101010;
$basic-800: #000;

$toast_success: #34b263;
$toast_warning: #b2b234;
$toast_failure: #b23434;
